@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');

body{
	font-family: 'Archivo Narrow', sans-serif;
	background-color: #FFD7B5;	

}


#buscar_events{

	margin-top: 50px;

	width: 100%;
	height: 100px;
	overflow-y: scroll;


}

#etiquetas{
	z-index: -1000;
	position: relative;
	text-align: center;
	background-color: white;
	font-size: 100%;
	padding: 20px 20px 20px 20px;
	line-height: 150%;


}

#etiquetas a{
	text-decoration: none;
	color: #3C3C3B;

}


/* "EMPIEZA EL MURO DE "BUSCAR EVENTOS"*/



h1{	
	
	background-color: white;
	text-align: center;
	margin: 0px;
	font-size: 18px;
	width: 110%;

	
}
#h1text{
	text-decoration: none;
	color: #3C3C3B;


}

.mur{
	width: 400px;

	margin: auto;
	height: auto;
	display: block;/* Para centrar todo loq ue esta dentro de esta clase, en este caso nuetras fotos*/


}

#event1 {
	
	margin: 30px;
}
#f1, #f2, h1{
	box-shadow: 1px 1px 0px grey;
	border-radius: 2px;
	width: 110%;
	margin-left: -30px; 
}

/*--------------------------"FIN BUCAR EVENTOS"----------------------------*/




/*"VER EVENTO*/

h2{	
	
	background-color: white;
	text-align: center;
	margin: auto;
	font-size: 18px;
	width: 100%;
	
}
#h2text{
	text-decoration: none;
	color: #3C3C3B;
	
}
p{
	background-color: white;
	margin: 2px;
}

.contenedor2{
	width: 400px;

	margin: auto;
	height: auto;
	display: block;/* Para centrar todo loq ue esta dentro de esta clase, en este caso nuetras fotos*/



}


#f_ver_evento{
	margin: auto;
	
}

#f_ver_evento, h2{
	box-shadow: 1px 1px 0px grey;
	border-radius: 2px;
	width: 100%;
	margin: auto;
	 
}
#h3text{
	text-decoration: none;
	color: #afafaf;
}




.botones{

	width: 400px;
	margin: auto;


}
h3{
	text-align: center;
	font-size: 150%;
	background-color: #B4FFB4;
	
	padding: 5px 5px 5px 5px;
	width: 35%;
	float: left;
	margin-left: 5%;
	
}

#h4text{
	text-decoration: none;
	color: white;
}

h4{
	text-align: center;
	font-size: 150%;
	background-color: #FF7673;
	
	padding: 5px 5px 5px 5px;
	width: 35%;
	float: right;
	margin-right: 5%;
	margin-bottom: 5px;
}

#ojo{
	width: 60px;
	margin-top: 20%;
}

/*--------------------------"FIN VER EVENTO"----------------------------*/









